#informações table, td, th{

    font-family:Georgia, 'Times New Roman', Times, serif;

    border: 1px solid #4d004d;

    border-collapse:collapse;
    padding:8px;

    justify-content: center;

}

table{

    margin:auto;

    padding: 200px;
}

h2{

    margin:auto;

    padding: 10px;
}

img{

    padding-left: 60dvb;
}







