/* Estilos Gerais do Corpo da Página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-image: url(../images/fundo\ rabisco.jpeg);
}

/* Cabeçalho Principal */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #fff;
}

/* Navegação */
nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Conteúdo Principal */
main {
    max-width: 960px; /* Largura máxima */
    margin: 20px auto;
    padding: 0 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

section {
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

section:last-of-type {
    border-bottom: none;
}

/* Títulos */
h1, h2, h3 {
    color: #2c3e50;
}

/* Tabela de Álbuns e musicas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;

}

thead {

    background-color: #262626;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Efeito zebrado para melhor leitura */

}

/*Formulario index*/
form{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    max-width: 330px;
}

input,button{
    padding: 5px;
    margin-bottom: 8px;
}

/* Parde das curiosidades da musica */
#curiosidades{
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 10px;
}

#curiosidades div{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
}

.numeracao{
    font-weight: bold;
    color: #2c3e50;
    font-size: 1.3em;
}
/* Perfis dos Artistas */
.perfil-artista {
    display: flex;
    align-items: center;
    gap: 20px; /* Espaço entre a imagem e o texto */
    margin-bottom: 20px;
}

.perfil-artista img {
    min-width: 150px;
    width: 150px;
    height: 150px;
    object-fit: cover; /* Garante que a imagem cubra o espaço sem distorcer */
    border-radius: 50%;
}

/* centraliza o sobre */
.container-informacoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh; /* Garante que ocupe toda a altura da tela */
}
.container-informacoes main{
    padding: 30px 20px;
}

/*tabela do sobre.html*/
.container-informacoes table {
    border-collapse: collapse;
    width: 100%;
}

.container-informacoes th {
    color: black;
    border: 1px solid black;
    padding: 8px;
}

.container-informacoes td {
    color: black;
    border: 1px solid black;
    padding: 8px;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    font-size: 0.9em;
    color: #777;
}


caption {
    margin-bottom: 10px;
    font-weight: bold;

}

@media screen and (max-width: 800px){

    .left, .main, .right {

        width: 100%;
    }
}





